.video__data {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	.video__title {
		display: flex;
		justify-content: flex-start;
		font-size: 38px;
		margin-bottom: 12px;

		#videoPrivacy {
			margin-left: 10px;
			font-size: 13px;
			align-self: flex-end;
			color: rgb(255, 117, 117);
			text-decoration: underline;
		}
	}
	.video__createdAt {
		font-size: 12px;
		margin-bottom: 5px;
	}
	.video__owner {
		margin-bottom: 5px;
		font-size: 14px;
		a {
			color: cornflowerblue;
			text-decoration: underline;
		}
	}
}

.video__comments {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	.video__comment {
		display: flex;
		padding: 10px;
		border-radius: 9999px;
		background-color: white;
		color: black;
		margin-right: auto;
		margin-bottom: 10px;
		#comment {
			padding-left: 5px;
			//margin-right: auto;
		}

		#deleteComment {
			margin-left: auto;
		}
	}
}

.video__comment-form {
	display: grid;
	justify-items: end;
	#textarea {
		margin-left: 2%;
		width: 96%;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
	}

	#addCommentBtn {
		margin-top: 20px;
		background-color: cornflowerblue;
		color: white;
		height: 40px;
		width: 120px;
		border: 0.5px solid blue;
		border-radius: 30px;
	}
}
